body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navlist li
{
display: inline-block;
list-style-type: none;
padding-right: 20px;
}

.textFields{
    top: 0;
    left: 0;
    height: 200px;
    width: 200px;
    z-index: 1;
}

.child {
  position: relative;
  top: 10px;
  left: 20px;
  height: 50px;
  width: 150px;
  z-index: 2;
}

.adminButton{
  float: right;
  margin-top: -8px
}

#titleInput{
  position: absolute;
  left:125px;
  margin-top: 1pc;
}

#titleDisplay{
  top: -200px;
  float:right;
  position: relative; 
  margin-left: 25%
}
