#top {
  font-family: sans-serif;
  background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
  background-size:100%;
  z-index:100;
  display:inline-block;
  position: absolute;
  overflow-y: scroll;
  width:100%;
  min-height: 100%;
}

#input{
  width: 240px;
  height: 20px;
}

#submit{
  margin-top: 20px;
  padding: 10px;
}

#home-container{
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info-display{
  margin: 18% 14% 25% 26%;
  width: 50%;
  background-color: black;
  padding: 10px;
}

#child {
  padding: 5px;
  width: 20px;
  height: 20px;
  margin: 10px;
  margin-right: 18%;
  line-height: 20px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align:left;
  padding-right: 50px;
}




.react-reveal{
  background: white;
 }

body{
  margin:0px;
  min-height:100%;
}

#about-me{
 padding-left:3%;
}

div{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img{
  border-radius: 15px;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#top::before{
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  opacity:0;
  content:'';
  height:100%;
  position: absolute;
  width:100%;
  z-index:-100;
  transition:opacity 20s;
  top:0;
  left:0;
  display: block;
}

#top:hover::before{
  opacity:1;
}

#loading{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightcoral;
  overflow-x: hidden;
  transition: opacity 1s, z-index 2s;
  text-align: center;
}
.fa.fa-spinner.fa-pulse{
  font-size: 100px;
  margin-top:20%;
  color:black;
}
.fas.fa-gem{
  font-size: 100px;
  position: fixed;
}
#root{
  padding-left: 5%;
  padding-right: 3%;
  min-height: 100%;

}

#root::after {
  content: "";
  clear: both;
  display: table;
}

#sidebar-container{
  float: left;
  width: 20%;
}



.section li {
  list-style: none;
  margin-left: 1em;
  font-size: 10pt;
  padding-left: 1px;
  padding-bottom: 10px;
  padding-top: 6px;
}

.section{
  padding-top: 8px;
  font-size: 15px;
}


a{
  color: lightcoral;
  text-decoration: none;
  font-size: 15px;
}




footer{
  float:right;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
  overflow:hidden;
}

footer p{
  font-size: 9px
} 

.posts-container{
  padding-right: 10%;
  padding-left: 5%;
  padding-bottom: 5%;
  width: 80%;
  float:left;
  background-color: mintcream;
  
}

.posts{
  padding-left: 3%;
}

.post{
  padding-bottom: 5%
}

.post > h1{
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}

ul.post-data-list{
  padding: 0px;
  display: inline;
}

.post-data-list > div{
 font-size: 15px;
 margin:3px;
}

.sidebar-element {
  text-decoration: none;
  font-size:20px;
}

label {
  display: block;
}

nav{
  margin-bottom: 20px;
}
nav a {
  display: inline-block;
  padding: 30px;
  padding-left:0px;
  padding-bottom: 0px;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navlist li
{
display: inline-block;
list-style-type: none;
padding-right: 20px;
}

#navbar {
  float:left;
}

.textFields{
    top: 0;
    left: 0;
    height: 200px;
    width: 200px;
    z-index: 1;
}

.child {
  position: relative;
  top: 10px;
  left: 20px;
  height: 50px;
  width: 150px;
  z-index: 2;
}


#admin-page{
  display: flex;
  flex-direction: row;
  position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#admin-large{
  flex: 5;
}

#admin-small{
  flex:1;
}

#admin-sidebar{
  overflow-y: auto;
  height: 100vh;
}



#admin-headers{
  font-size: 17px
}

.button-parent{
  display: flex;
  position: absolute;
  top: 32%;
}

#post-button{
  flex:1;
  position: absolute;
  top:39%
}

#edit-button{
  flex:1;
  position: absolute;
  top: 30%;
}


#textareas > * {
  margin: 5% 0;
  position: relative;
  left:125px;
  margin-top: 1pc;
}

.linktext{
  color: black;
  background-color: lightcoral;
}

#single-text{
  margin-left:10%
}

#single-title{
  margin-left: 10%
}

#single-date{
  padding-left: 10%
}

.title{
  overflow-wrap: break-word;
  font-size: 30px;
}

.post-text > p {
  padding-bottom: 8px;
}

.react-reveal{
  background: transparent;
  margin-right: 12%;
}
